#------------------------------------------------------#
# ███████╗ ██████╗██████╗ ██╗██████╗ ████████╗███████╗ #
# ██╔════╝██╔════╝██╔══██╗██║██╔══██╗╚══██╔══╝██╔════╝ #
# ███████╗██║     ██████╔╝██║██████╔╝   ██║   ███████╗ #
# ╚════██║██║     ██╔══██╗██║██╔═══╝    ██║   ╚════██║ #
# ███████║╚██████╗██║  ██║██║██║        ██║   ███████║ #
# ╚══════╝ ╚═════╝╚═╝  ╚═╝╚═╝╚═╝        ╚═╝   ╚══════╝ #
#------------------------------------------------------#

#--------#
# SERVER #
#--------#

SERVER_DOMAIN=<server_domain>

#-------------------------------------------------------------------#
# PLEX - WATCHLIST, PLEX AUTHENTICATION, PLEX REQUEST, PLEX REFRESH #
#-------------------------------------------------------------------#

PLEX_HOST="https://plex.tv/"
PLEX_METADATA_HOST="https://metadata.provider.plex.tv/"
PLEX_SERVER_HOST=<plex_server_host>
PLEX_SERVER_MACHINE_ID=<plex_server_machine_id>
PLEX_SERVER_API_KEY=<plex_server_api_key>
PLEX_SERVER_MOVIE_LIBRARY_ID=<plex_server_movie_library_id>
PLEX_SERVER_TV_SHOW_LIBRARY_ID=<plex_server_tv_show_library_id>
PLEX_SERVER_PATH=<plex_server_path>

#-------------------------------------------------------------------------#
# OVERSEERR - WATCHLIST, PLEX AUTHENTICATION, PLEX REQUEST, RECLAIM SPACE #
#-------------------------------------------------------------------------#

OVERSEERR_HOST=<overseerr_host>
OVERSEERR_API_KEY=<overseerr_api_key>

#------------------------------------------------------------------------------------#
# SONARR - BLACKHOLE, REPAIR, IMPORT TORRENT FOLDER, RECLAIM SPACE, ADD NEXT EPISODE #
#------------------------------------------------------------------------------------#

SONARR_HOST=<sonarr_host>
SONARR_API_KEY=<sonarr_api_key>
SONARR_ROOT_FOLDER=<sonarr_root_folder>

SONARR_HOST_4K=<sonarr_host_4k>
SONARR_API_KEY_4K=<sonarr_api_key_4k>
SONARR_ROOT_FOLDER_4K=<sonarr_root_folder_4k>

SONARR_HOST_ANIME=<sonarr_host_anime>
SONARR_API_KEY_ANIME=<sonarr_api_key_anime>
SONARR_ROOT_FOLDER_ANIME=<sonarr_root_folder_anime>

SONARR_HOST_MUX=<sonarr_host_mux>
SONARR_API_KEY_MUX=<sonarr_api_key_mux>
SONARR_ROOT_FOLDER_MUX=<sonarr_root_folder_mux>

#------------------------------------------------------------------#
# RADARR - BLACKHOLE, REPAIR, IMPORT TORRENT FOLDER, RECLAIM SPACE #
#------------------------------------------------------------------#

RADARR_HOST=<radarr_host>
RADARR_API_KEY=<radarr_api_key>
RADARR_ROOT_FOLDER=<radarr_root_folder>

RADARR_HOST_4K=<radarr_host_4k>
RADARR_API_KEY_4K=<radarr_api_key_4k>
RADARR_ROOT_FOLDER_4K=<radarr_root_folder_4k>

RADARR_HOST_ANIME=<radarr_host_anime>
RADARR_API_KEY_ANIME=<radarr_api_key_anime>
RADARR_ROOT_FOLDER_ANIME=<radarr_root_folder_anime>

RADARR_HOST_MUX=<radarr_host_mux>
RADARR_API_KEY_MUX=<radarr_api_key_mux>
RADARR_ROOT_FOLDER_MUX=<radarr_root_folder_mux>

#--------------------------#
# TAUTULLI - RECLAIM SPACE #
#--------------------------#

TAUTULLI_HOST=<tautulli_host>
TAUTULLI_API_KEY=<tautulli_api_key>

#-------------------------------#
# REALDEBRID - BLACKHOLE, REPAIR #
#-------------------------------#

REALDEBRID_ENABLED=true
REALDEBRID_HOST="https://api.real-debrid.com/rest/1.0/"
REALDEBRID_API_KEY=<realdebrid_api_key>
REALDEBRID_MOUNT_TORRENTS_PATH=

#---------------------------#
# TORBOX - BLACKHOLE, REPAIR #
#---------------------------#

TORBOX_ENABLED=false
TORBOX_HOST="https://api.torbox.app/v1/api/"
TORBOX_API_KEY=<torbox_api_key>
TORBOX_MOUNT_TORRENTS_PATH=

#-----------------------#
# TRAKT - RECLAIM SPACE #
#-----------------------#

TRAKT_API_KEY=<trakt_api_key>

#-------------------------------------#
# WATCHLIST - WATCHLIST, PLEX REQUEST #
#-------------------------------------#

WATCHLIST_PLEX_PRODUCT="Plex Request Authentication"
WATCHLIST_PLEX_VERSION="1.0.0"
WATCHLIST_PLEX_CLIENT_IDENTIFIER="576101fc-b425-4685-91cb-5d3c1671fd2b"

#-----------------------#
# BLACKHOLE - BLACKHOLE #
#-----------------------#

BLACKHOLE_BASE_WATCH_PATH="./blackhole"
BLACKHOLE_RADARR_PATH="Movies"
BLACKHOLE_SONARR_PATH="TV Shows"
BLACKHOLE_FAIL_IF_NOT_CACHED=true
BLACKHOLE_RD_MOUNT_REFRESH_SECONDS=200
BLACKHOLE_WAIT_FOR_TORRENT_TIMEOUT=60
BLACKHOLE_HISTORY_PAGE_SIZE=500

#-----------------------------------------------------------------------------------------------#
# DISCORD - BLACKHOLE, WATCHLIST, PLEX AUTHENTICATION, PLEX REQUEST, MONITOR RAM, RECLAIM SPACE #
#-----------------------------------------------------------------------------------------------#

DISCORD_ENABLED=false
DISCORD_UPDATE_ENABLED=false
DISCORD_WEBHOOK_URL=<discord_webhook_url>

#-----------------#
# REPAIR - REPAIR #
#-----------------#

REPAIR_REPAIR_INTERVAL="10m"
REPAIR_RUN_INTERVAL="1d"

#-----------------------#
# GENERAL CONFIGURATION #
#-----------------------#

PYTHONUNBUFFERED=TRUE
PUID=
PGID=
UMASK=002
DOCKER_NETWORK="scripts_default"
DOCKER_NETWORK_EXTERNAL=false
